.contentBottom{
    background-color: blue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
}
.contentTop{
    background-color: rgb(51, 51, 153);
    position: absolute;
    width: 100%;
    height: 50%;
    border-bottom-width: 2px;
    border-color: black;
}
.pageContent{
    background-color: rgb(139, 13, 139);
    height: 100%;
    width: 100%;
}