
.heading{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background: rgb(168, 172, 255);
}

.tablePersons{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    button{
        width: 60px;
        height: 40px;
    }
}

.Profiler{
    table{
        background: white;
        color: black;
        padding: 2px;
        border-color: black;
        border-width: 2px;
        border-style: solid;
    }
    td{
        border-color: black;
        border-width: 2px;
        border-style: solid;
        padding-left: 5px;
        padding-right: 5px;
    }
}